<div class="md-social">
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <a style="padding: 10px 0" href="https://schdesign.hu" target="_blank" rel="noopener" title="schdesign.hu">schdesign.hu</a>
        <a style="padding: 10px 0" href="https://logotar.schdesign.hu" target="_blank" rel="noopener" title="Logótár">Logótár</a>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <a style="padding: 10px 0" href="mailto:vezetoseg+roadmap@schdesign.hu" target="_blank" title="Email küldés">Kapcsolat</a>
    </div>
    {% for social in config.extra.social %}
      {% set title = social.name %}
      {% if not title and "//" in social.link %}
        {% set _, url = social.link.split("//") %}
        {% set title  = url.split("/")[0] %}
      {% endif %}
      <a href="{{ social.link }}" target="_blank" rel="noopener" title="{{ title | e }}" class="md-social__link">
        {% include ".icons/" ~ social.icon ~ ".svg" %}
      </a>
    {% endfor %}
</div>