/* Setting main color theme to schdesign style <3 */

:root {
  --md-primary-fg-color:        #112774; /* Changes header and default link color */
  --md-primary-fg-color--light: #7b88cc;
  --md-primary-fg-color--dark:  #3d3d3d;

  --md-accent-fg-color: #f8485e;
  --md-accent-fg-color--light: #f8485e;
  --md-accent-fg-color--dark: #f8485e;

  --md-primary-bg-color: #F2F2F2;
}

[data-md-color-scheme="slate"] { /* Only applied when dark theme (slate) is selected */
  --md-primary-fg-color:        #3d3d3d; /* Header */
  --md-primary-fg-color--light: #7b88cc; /* Link default color */ /* Makes no sense */
  --md-primary-fg-color--dark:  #04fd25; /* Does nothing */
}

/* Setting footer's background color to match the theme */
:root > * {
  --md-footer-bg-color:       #3d3d3d;
  --md-footer-bg-color--dark: #3d3d3d;
}


/* Setting header and footer elements' color on hover to accent color */
.md-tabs__link:hover,
html .md-footer-meta.md-typeset a:hover,
.md-source:hover,
.md-search__input:hover + label
{
  color: var(--md-accent-fg-color);
}

/* Dotted underline for links so they are visible. */

.md-content a[href]  {
  text-decoration: underline dotted var(--md-primary-fg-color);
}

.md-content a[href]:hover  {
  text-decoration: underline dotted var(--md-accent-fg-color);
}